body {
  margin: 0;
  padding: 0;
  font-family: "Raleway", "Sans-serif";
}

/********************* HEADER MENU ***************/
.menu {
  display: none;
  flex-basis: 100%;
  list-style: none;
}

.menu li a {
  display: inline-block;
  padding: 0.5em 1em;
  text-decoration: none;
  color: black;
}

.menu li a:hover {
  color: #9c410b;
  font-weight: bold;
}

.menu-checkbox:checked ~ .menu {
  display: block;
}

.menu-checkbox {
  opacity: 0;
  position: absolute;
  top: -5000px;
}

.menu-toggle {
  padding: 0.5em;
}

.menu-checkbox:focus + .menu-toggle {
  outline: #00A1A1 auto 5px;
}

.nav-wrapper {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  background-color: rgba(233, 237, 255, 0.79);
  padding: 1em;
}

/********************* END HEADER MENU ***************/
/********************* BLOC INTRO ***************/
#Accueil {
  background-color: rgba(237, 244, 255, 0.43);
}

.container-presentation {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card-image {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.img-portrait {
  width: 100%;
  max-width: 320px;
  border-radius: 5em;
  padding: 2em;
  height: auto;
}

.title-intro {
  text-align: center;
  line-height: 2em;
}

.container-button {
  text-align: center;
  padding: 1.2em;
}

button {
  border-radius: 25px;
  border: none;
  color: white;
  font-size: 16px;
  font-weight: 600;
  background: linear-gradient(0.5deg, #829ab6, #304ecb);
  background-color: #000000;
  height: 45px;
  width: 11em;
  cursor: pointer;
}
button.btn-intro:hover {
  background-color: #fff;
  box-shadow: 0.2em 0.2em 10px RGB(0 0 0/50%);
}

/********************* END BLOC INTRO ***************/
/********************* BLOC SKILLS ***************/
#Competences {
  background-color: rgba(233, 237, 255, 0.79);
  padding: 1em;
}
#Competences .card-skills {
  padding: 1em;
  margin: 2em;
}

.title-block {
  text-align: center;
  font-size: 2em;
}

.lists-languages {
  list-style-type: none;
  display: flex;
  justify-content: space-evenly;
  padding: 20px;
}

.list-skills-li {
  padding: 2em;
}
.list-skills-li .fa-html5 {
  color: #f07021;
}
.list-skills-li .fa-css3-alt {
  color: #007ac7;
}
.list-skills-li .fa-sass {
  color: #ce679b;
}
.list-skills-li .fa-bootstrap {
  color: #7212ef;
}
.list-skills-li .fa-wordpress {
  color: #32373c;
}
.list-skills-li .fa-git {
  color: #3e2f01;
}

.box-workflow {
  list-style-type: none;
  display: flex;
  justify-content: space-around;
  padding-top: 1em;
}

.list-workflow {
  color: black;
  font-weight: bold;
  padding-right: 1em;
}

.fa-sharp {
  color: #5c4700;
}

.p-skills {
  font-weight: 900;
}

/********************* END BLOC SKILLS ***************/
/********************* BLOC TRAINING ****************/
#Experiences-Professionnelles {
  background-color: white;
  background-image: url("/images/lines-h2-bg.png");
  padding: 1em;
}

#Formations {
  background-color: white;
  background-image: url("/images/lines-h2-bg.png");
  padding: 1em;
}

.resume-section-content {
  padding: 0.5em;
}

.card-resume {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  margin: 2.5em;
}

.title-h3-resume {
  font-weight: 900;
}

.p-resume {
  font-size: 1.1em;
  font-weight: 500;
}

.p-date-resume {
  font-size: 1.1em;
  font-weight: 300;
}

.title-list-ul {
  font-weight: bold;
}

.title-bloc-experiences {
  margin-top: 3em;
  font-weight: bold;
}

.experiences-lists {
  padding: 0.5em;
  list-style-type: disclosure-closed;
}

.text-date-resume {
  flex-shrink: 0;
}

/********************* END BLOC TRAINING ***************/
/********************* BLOC PORTFOLIO ***************/
#Portfolio {
  background-color: rgba(233, 237, 255, 0.79);
  padding-top: 2em;
  width: 100%;
  margin: auto;
}

.title-block {
  text-align: center;
  font-size: 2em;
}

.container-portfolio {
  color: black;
  display: flex;
  flex-wrap: wrap;
  padding-top: 2.2em;
  width: 80%;
  margin: auto;
}
.container-portfolio .card {
  padding-bottom: 30px;
  width: 590px;
  box-sizing: border-box;
  border-radius: 20px;
  margin: auto;
}
.container-portfolio .text-href-card {
  text-decoration: none;
}
.container-portfolio .background-img {
  background-image: url("/images/projet2.png");
  background-size: cover;
  background-position: center;
  height: 300px;
  position: relative;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  transition: 0.25s ease;
}
.container-portfolio .background-img:hover {
  background-size: 714px;
}
.container-portfolio .background-img.background-img-2 {
  background-image: url("/images/projet3.png");
}
.container-portfolio .background-img.background-img-3 {
  background-image: url("/images/projet4.png");
}
.container-portfolio .background-img.background-img-4 {
  background-image: url("/images/projet5.png");
}
.container-portfolio .background-img.background-img-5 {
  background-image: url("/images/projet6.png");
}
.container-portfolio .background-img.background-img-6 {
  background-image: url("/images/projet7.png");
}
.container-portfolio .background-img.background-img-7 {
  background-image: url("/images/logo.png");
}
.container-portfolio .box-texts {
  line-height: 10px;
}
.container-portfolio .box-texts h3 {
  padding-left: 20px;
  color: black;
  font-weight: 600;
  line-height: 27px;
}
.container-portfolio .box-texts .text-card {
  padding-left: 20px;
  color: black;
  font-weight: bold;
  font-size: 18px;
}

/********************* END BLOC PORTFOLIO ***************/
/*********************  BLOC CONTACT FORM ***************/
#container-form {
  background-color: rgba(237, 244, 255, 0.43);
  margin: auto;
  padding-top: 1.5em;
  padding-bottom: 2.5em;
}

.title-form {
  display: flex;
  justify-content: center;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
form input {
  background-color: rgb(255, 255, 255);
  width: 45%;
  border: 2px black solid;
  margin-top: 15px;
  padding: 10px;
  border-radius: 10px 10px 0 0;
}
form textarea {
  background-color: rgb(255, 255, 255);
  width: 45%;
  border: 2px black solid;
  border-radius: 5px;
  margin-top: 15px;
  padding: 10px;
  border-radius: 10px 10px 0 0;
}
form button {
  border-radius: 25px;
  border: none;
  color: white;
  font-size: 16px;
  font-weight: 600;
  background: linear-gradient(0.5deg, #7c7c7c, #1a65e4);
  background-color: #e20038;
  height: 45px;
  margin-top: 15px;
  width: 11em;
  cursor: pointer;
}
form button.btn-form:hover {
  background-color: #e7e7e7;
  color: #f4e8e8;
  box-shadow: 0.2em 0.2em 10px RGB(0 0 0/50%);
}

/********************* END BLOC CONTACT FORM ***************/
/********************* FOOTER ***************************/
#Contact {
  background-color: rgba(237, 244, 255, 0.43);
  padding: 20px 0;
}

.logo-footer {
  font-weight: 900;
  color: black;
  margin: 40px;
}

.box-footer {
  display: flex;
  justify-content: space-evenly;
}

.list-footer {
  list-style-type: none;
  line-height: 1.5em;
  font-weight: bold;
}

.link-footer {
  text-decoration: none;
  color: black;
  font-style: normal;
}

.icon-footer {
  width: 1em;
  padding-right: 15px;
}

.social-networks {
  display: flex;
  justify-content: space-evenly;
  padding-top: 1.1em;
}
.social-networks .link-social-network {
  text-decoration: none;
  color: black;
}
.social-networks .fa-linkedin {
  color: rgb(59, 91, 152);
}

.copyright {
  color: black;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin: 3em;
  font-weight: 500;
  list-style-type: none;
}
.copyright .cgu {
  text-decoration: none;
  color: black;
}
.copyright .cgu.cgu:hover {
  color: #9c410b;
  font-weight: bold;
}

/********************* END FOOTER ***************/
/*********************SCROLL TOP ***************/
#scroll_to_top {
  position: fixed;
  width: 21px;
  height: 0px;
  bottom: 35px;
  right: 3px;
}
#scroll_to_top#scroll_to_top img {
  width: 25px;
}

/********************* END SCROLL TOP ***************/
/********************* Start Style Communication ***************/
.title-block {
  font-size: 1.7em;
}

.block-communication #filters {
  display: flex;
  justify-content: center;
  list-style: none;
  gap: 20px;
  margin-top: 2em;
}
.block-communication #filters li {
  margin-bottom: 10px;
  padding: 5px;
  border-radius: 15px;
  cursor: pointer;
}
.block-communication #all,
.block-communication #transport:hover,
.block-communication #nature:hover,
.block-communication #divers:hover {
  text-decoration: none;
  color: #0065FC;
  border-top: 3px solid #0065FC;
  animation-name: filters-gallery;
  animation-duration: 0.3s;
  padding: 5px;
}
.block-communication #title-gallery {
  text-align: center;
  text-align: center;
  font-size: 1.7em;
  margin-top: 1.5em;
}
.block-communication #gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
  align-items: center;
  margin: auto;
}
.block-communication #gallery .active {
  max-width: 30%;
  padding: 5px;
  transition: width 0.3s;
}
.block-communication #gallery .inactive {
  width: 0;
  padding: 0;
}
.block-communication .background-img-8 {
  background-image: url("/images/background-img-communication/img-website1.png");
}
.block-communication .background-img-9 {
  background-image: url("/images/background-img-communication/background-img-carte-de-visite.png");
}
.block-communication .background-img-10 {
  background-image: url("/images/background-img-communication/background-panneau.png");
}
.block-communication .background-img-12 {
  background-image: url("/images/background-img-communication/tube-de-colle-3d.png");
}
.block-communication .background-img-14 {
  background-image: url("/images/background-img-communication/infographie-samy.png");
}

/********************* End Style Communication ***************/
/********************* MEDIA QUERIES  ***************/
@media screen and (min-width: 60em) {
  .menu-toggle,
  .menu-checkbox {
    display: none;
  }
  .menu {
    display: block;
    flex-basis: auto;
    margin: 0;
    padding: 0;
  }
  .menu li {
    display: inline-block;
    font-weight: bold;
  }
}
@media screen and (max-width: 60em) {
  .card-image {
    flex-direction: column;
    padding: 1.9em;
  }
  .card-skills {
    margin: 0.1em !important;
  }
  .box-workflow {
    flex-direction: column;
  }
  .lists-languages {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .card-resume {
    flex-direction: column;
    align-items: center;
    margin: auto;
    padding-top: 25px;
  }
  .title-resume {
    display: flex;
    flex-direction: column;
    align-items: baseline;
  }
  .container-portfolio {
    flex-direction: column;
    width: 95%;
  }
  .card {
    width: 90% !important;
  }
  .list-workflow {
    margin: 0.5em;
  }
  .block-communication #gallery {
    flex-direction: column;
  }
  .block-communication #gallery .active {
    max-width: 72%;
  }
  .box-footer {
    flex-direction: column;
  }
  .list-footer {
    line-height: 2.5em;
    font-size: 20px;
  }
}
/********************* END MEDIA QUERIES ***************/

/*# sourceMappingURL=style.css.map */
