body {
    margin: 0;
    padding: 0;
    font-family: "Raleway", "Sans-serif";
}

/********************* HEADER MENU ***************/
.menu {
    display: none;
    flex-basis: 100%; 
    list-style: none;
}
 
.menu li a {
    display: inline-block;
    padding: 0.5em 1em;
    text-decoration: none;
    color: $color-black;
}

.menu li a:hover {
    color: #9c410b;
    font-weight: bold;
}

.menu-checkbox:checked~.menu {
    display: block;
}

.menu-checkbox {
    opacity: 0;
    position: absolute;
    top: -5000px;
}

.menu-toggle {
    padding: .5em;
}

.menu-checkbox:focus+.menu-toggle {
    outline: #00A1A1 auto 5px;
}

.nav-wrapper {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: $primary-color;
    padding: 1em;
}
/********************* END HEADER MENU ***************/

/********************* BLOC INTRO ***************/
#Accueil {
    background-color: $secondary-color;
}

.container-presentation {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card-image {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.img-portrait {
    width: 100%;
    max-width: 320px;
    border-radius: 5em;
    padding: 2em;
    height: auto;
}

.title-intro {
    text-align: center;
    line-height: 2em;
}

.container-button {
    text-align: center;
    padding: 1.2em;
}

button {
    @include button;
}
/********************* END BLOC INTRO ***************/

/********************* BLOC SKILLS ***************/
#Competences {
    background-color: $primary-color;
    padding: 1em;

    .card-skills {
        padding: 1em;
        margin: 2em;
    }
}

.title-block {
    @include title-block;
}

.lists-languages {
    list-style-type: none;
    display: flex;
    justify-content: space-evenly;
    padding: 20px;
}

.list-skills-li {
    padding: 2em;

    .fa-html5 {
        color: #f07021;
    }

    .fa-css3-alt {
        color: #007ac7;
    }

    .fa-sass {
        color: #ce679b;
    }

    .fa-bootstrap {
        color: #7212ef;
    }

    .fa-wordpress {
        color: #32373c;
    }

    .fa-git {
        color: #3e2f01;
    }
}

.box-workflow {
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    padding-top: 1em;
}  

.list-workflow {
    color: $color-black;
    font-weight: bold;
    padding-right: 1em;
}

.fa-sharp {
    color: #5c4700;
}

.p-skills {
    font-weight: 900;
}
/********************* END BLOC SKILLS ***************/

/********************* BLOC TRAINING ****************/
#Experiences-Professionnelles {
    background-color: $color-white;
    background-image: url("/images/lines-h2-bg.png");
    padding: 1em;
}

#Formations {
    background-color: $color-white;
    background-image: url("/images/lines-h2-bg.png");
    padding: 1em;
}

.resume-section-content {
    padding: 0.5em;
}

.card-resume {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    margin: 2.5em;
}

.title-h3-resume {
    font-weight: 900;
}

.p-resume {
    font-size: 1.1em;
    font-weight: 500
}

.p-date-resume {
    font-size: 1.1em;
    font-weight: 300;
}


.title-list-ul {
    font-weight: bold;
}

.title-bloc-experiences {
    margin-top: 3em;
    font-weight: bold;
}

.experiences-lists {
    padding: 0.5em;
    list-style-type: disclosure-closed;
}

.text-date-resume {
    flex-shrink: 0;
}
/********************* END BLOC TRAINING ***************/

/********************* BLOC PORTFOLIO ***************/
#Portfolio {
    background-color: $primary-color;
    padding-top: 2em;
    width: 100%;
    margin: auto;
}

.title-block {
    @include title-block;
}

.container-portfolio {
    color: $color-black;
    display: flex;
    flex-wrap: wrap;
    padding-top: 2.2em;
    width: 80%;
    margin: auto;

    .card {
        padding-bottom: 30px;
        width: 40%;
        box-sizing: border-box;
        border-radius: 20px;
        margin: auto;
    }

    .text-href-card {
        text-decoration: none;
    }

    .background-img {
        background-image: url("/images/projet2.png");
        background-size: cover;
        background-position: center;
        height: 300px;
        position: relative;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
        transition: 0.25s ease;

        &:hover {
            background-size: 714px;
        }


        &.background-img-2 {
            background-image: url("/images/projet3.png");
        }

        &.background-img-3 {
            background-image: url("/images/projet4.png");
        }

        &.background-img-4 {
            background-image: url("/images/projet5.png");
        }

        &.background-img-5 {
            background-image: url("/images/projet6.png");
        }

        &.background-img-6 {
            background-image: url("/images/projet7.png");
        }

        &.background-img-7 {
            background-image: url("/images/logo.png");
        }
    }

    .box-texts {
        line-height: 10px;

        h3 {
            padding-left: 20px;
            color: $color-black;
            font-weight: 600;
            line-height: 10px;
        }

        .text-card {
            padding-left: 20px;
            color: $color-black;
            font-weight: bold;
            font-size: 18px;
        }
    }

}
/********************* END BLOC PORTFOLIO ***************/

/*********************  BLOC CONTACT FORM ***************/
#container-form {
    background-color: rgba(237, 244, 255, 0.43);
    margin: auto;
    padding-top: 1.5em;
    padding-bottom: 2.5em;
}



.title-form {
    display: flex;
    justify-content: center;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;

    input {
        background-color: rgb(255, 255, 255);
        width: 45%;
        border: 2px black solid;
        margin-top: 15px;
        padding: 10px;
        border-radius: 10px 10px 0 0;
    }
    textarea {
        background-color: rgb(255, 255, 255);
        width: 45%;
        border: 2px black solid;
        border-radius: 5px;
        margin-top: 15px;
        padding: 10px;
        border-radius: 10px 10px 0 0;
    }

    button {
        @include button-form;
    }
}
/********************* END BLOC CONTACT FORM ***************/

/********************* FOOTER ***************************/
#Contact {
    background-color: $secondary-color;
    padding: 20px 0;
}

.logo-footer {
    font-weight: 900;
    color: $color-black;
    margin: 40px;
}

.box-footer {
    display: flex;
    justify-content: space-evenly;
}

.list-footer {
    list-style-type: none;
    line-height: 1.5em;
    font-weight: bold;
}

.link-footer {
    text-decoration: none;
    color: $color-black;
    font-style: normal;
}

.icon-footer {
    width: 1em;
    padding-right: 15px;
}

.social-networks {
    display: flex;
    justify-content: space-evenly;
    padding-top: 1.1em;

    .link-social-network {
        text-decoration: none;
        color: $color-black;
    }

    .fa-linkedin {
        color: rgb(59, 91, 152);
    }
}

.copyright {
    color: $color-black;
    display: flex;
    justify-content: center;
    padding: 2em;
    font-weight: 500;
    list-style-type: none;

    .cgu {
        text-decoration: none;
        color: $color-black;
        padding-left: 2em;

        &.cgu:hover{
            color: #9c410b;
            font-weight: bold;
        }
    }
}
/********************* END FOOTER ***************/

/*********************SCROLL TOP ***************/
#scroll_to_top {
    position: fixed;
    width: 25px;
    height: 0px;
    bottom: 35px;
    right: 3px;

    &#scroll_to_top img {
        width: 25px;
    }
}
/********************* END SCROLL TOP ***************/