@mixin button {
    border-radius: 25px;
    border: none;
    color: #ffff;
    font-size: 16px;
    font-weight: 600;
    background: linear-gradient(0.5deg, #829ab6, #304ecb);
    background-color: #000000;
    height: 45px;
    width: 11em;
    cursor: pointer;

    &.btn-intro:hover {
        background-color: #fff;
        box-shadow: 0.20em 0.20em 10px RGB(0 0 0 / 50%);
    }
}

@mixin title-block {
    text-align: center;
    font-size: 2em;
}

@mixin button-form {
    border-radius: 25px;
    border: none;
    color: white;
    font-size: 16px;
    font-weight: 600;
    background: linear-gradient(0.5deg, #7c7c7c, #1a65e4);
    background-color: #e20038;
    height: 45px;
    margin-top: 15px;
    width: 11em;
    cursor: pointer;

    &.btn-form:hover {
        background-color:  #e7e7e7;
        color: #f4e8e8;
        box-shadow: 0.20em 0.20em 10px RGB(0 0 0 / 50%);
    }
}